<!doctype html>
<html lang="<%= site.locale %>">

<head>
  <%= render "head" , metadata: site.metadata, title: resource.data.title %>
</head>

<body class="centered-page">
  <main>
    <%= yield %>
    <div class="flow">
      <section class="site-links">
        <a href="/writing">Writing</a> 
        <i class="fa-solid fa-circle"></i>
        <a href="/uses">Tech</a>
        <i class="fa-solid fa-circle"></i>
        <a href="/resume">Work</a>
      </section>
      <section class="social-links">
        <a href="https://github.com/eliseshaffer">Github</a>
        <i class="fa-solid fa-circle"></i>
        <a href="https://www.strava.com/athletes/111360327">Strava</a>
        <i class="fa-solid fa-circle"></i>
        <a href="mailto:elise.shaffer@hey.com">Email</a>
      </section>
    </div>
  </main>
</body>

</html>
