---
layout: breadcrumbs
---

<a href="/posts" class="back-link"><i class="fa fa-angle-left"></i>Back</a>

<span class="publish-date"><%= resource.data.date.strftime('%b %d, %Y') %></span>
<h1><%= resource.data.title %></h1>

<%= yield %>
