---
layout: breadcrumbs
title: Resume
---

<a href="/" class="back-link margin-bottom-4"><i class="fa fa-angle-left"></i>Back</a>

<h1>Resume</h1>

<% collections.jobs.resources.reverse.each do |job| %>
  <%= render Job.new(resource: job) %>
<% end %>
