---
layout: breadcrumbs
title: Writing
---

<a href="/" class="back-link"><i class="fa fa-angle-left"></i>Back</a>

<h1>Writing</h1>

<ul class="blog-list">
  <% collections.posts.each do |post| %>
    <li>
      <a href="<%= post.relative_url %>" class="post-link">
        <%= post.data.title %>
      </a>
      <span class="publish-date">
        <%= post.data.date.strftime("%b %-d, %Y") %>
      </span>
    </li>
  <% end %>
</ul>
