---
layout: breadcrumbs
title: Writing
---
<div class="flex-row space-between margin-bottom-4 align-center">
  <a href="/" class="back-link"><i class="fa fa-angle-left"></i>Back</a>
  <a href="/feed.xml">Atom Feed</a>
</div>

<h1>Writing</h1>

<ul class="blog-list">
  <% collections.posts.each do |post| %>
    <%= render Post.new(post: post) %>
  <% end %>
</ul>
