@import "variables.css";
@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Satisfy&display=swap');

:root {
  --title-font: "Domine";
  --body-font: "Inter";
  --color-primary: var(--purple-7);
  --gradient-primary: linear-gradient(215deg, var(--violet-6) 0%, var(--violet-8) 35%, var(--purple-7) 100%);
  --gradient-primary-reverse: linear-gradient(55deg, var(--violet-6) 0%, var(--violet-8) 35%, var(--purple-7) 100%);
  --gradient-secondary: linear-gradient(215deg, var(--violet-2) 0%, var(--violet-1) 35%, var(--purple-0) 100%);
}

body {
  font-family: var(--body-font), sans-serif;
  background: var(--gray-0);
  color: var(--gray-12);
  margin: 0 auto;
  max-width: 65ch;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: var(--title-font), sans-serif;
  font-weight: 400;

  color: transparent;
  background: var(--gradient-primary);
  background-clip: text;
}

h2 {
  color: var(--purple-7);
  & a {
    color: var(--violet-7);
  }
  & a:hover {
    color: var(--purple-7);
  }
}

h3 {
  color: var(--violet-7);
}

header {
  margin-block: 2rem 1rem;
  text-align: center;
}

footer {
  margin-block: 3rem 2rem;
  text-align: center;
  color: transparent;
  font-size: var(--font-size-1);
  background: var(--gradient-primary);
  margin-inline: auto;
  width: auto;
  background-clip: text;
}

main {
  max-width: 65ch;
  margin: 0 1rem;
  margin-top: var(--size-12);
  flex-grow: 1;
}

label {
  font-weight: var(--font-weight-5);
}

ul {
  padding-left: 1.25rem;
}

ul.blog-list {
  display: grid;
  grid-template-columns: [title-start] 1fr [title-end date-start] max-content [ date-end ];
  justify-items: stretch;
  padding-left: 0;

  & li {
    list-style-type: none;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: title / line;
    align-items: center;
    margin-block: var(--size-1);

    & > a {
      display: inline;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      grid-column: title;
      max-width: fit-content;
    }

    & > span {
      grid-column: date;
      justify-self: right;
    }

    & > * {
      margin-right: var(--size-2);
    }
  }
}

p > code {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  font-weight: var(--font-weight-5);

  & > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;

    & > * {
      margin-right: 1rem;
    }
  }
}

a {
  color: var(--color-primary);
  text-decoration: none;
  color: transparent;
  background: var(--gradient-primary);
  background-clip: text;
}

p > a {
  color: transparent;
  background: var(--gradient-primary);
  background-clip: text;
  font-weight: 500;
}

a:hover {
    color: var(--purple-7);
  }

p {
  margin: 1rem 0;
}

pre {
  overflow-x: scroll;
}

blockquote {
  display: grid;
  
  & p {
    margin-block: 0.5rem;
  }

  & p:only-child {
    margin-block: 0;
  }
}

blockquote::before:empty {
  content: "";
  float: left;
  background: var(--gradient-2);
  width: 5px;
  margin-right: 1em;
  top: 0px;
  bottom: 0px;
}

/*  composition  */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

/*   utilities  */
.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.padding-left-0 {
  padding-left: 0;
}

.text-green {
  color: var(--violet-7);
}

.text-primary {
  color: var(--color-primary);
}

.text-dark-green {
  color: var(--violet-9);
}

.text-black {
  color: black;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.no-bullets {
  list-style-type: none;
}


/*  blocks  */
.publish-date {
  color: var(--gray-6);
  font-size: .825rem;
}

.social-links {
  text-decoration: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

.bottom-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & a {
    font-size: var(--font-size-3);
    width: fit-content;
  }
}

.back-navigation {
  justify-content: center;
  text-align: center;
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-1);
  margin-top: 1rem;
  margin-inline: 2rem;
}

.contact-card {
  background: var(--gradient-secondary);
  color: var(--violet-7);
  display: grid;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  & input, & textarea {
    width: 100%;
    border-radius: .5rem;
    border: 0;
    padding-inline: .5rem;
    padding-block: .25rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  & textarea {
    resize: vertical;
    min-height: 5rem;
    border-radius: .5rem;
    border: 0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}

.button-primary {
  background: var(--gradient-primary-reverse);
  color: white;
  border: 0;
  border-radius: 3rem;
  padding-block: .25rem;
  padding-inline: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.job {
  /* & h2 { */
  /*   color: var(--color-primary); */
  /* } */

  /* & h3 { */
  /*   font-weight: semibold; */
  /* } */

}
