@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "reset";
@import "colors";

:root {
  --title-font: "Inter";
  --body-font: "Inter";

  --light-gray-50: #ECEFF1;
  --light-blue-gray-100: #CFD8DC;
  --green-25: hsl(125, 39%, 96%);
  --green-50: #E8F5E9;
  --green-400: #66BB6A;
  --green-500: #4CAF50;
  --green-600: #43A047;
  --green-900: #1B5E20;
  --light-green-50: #F1F8E9;
  --light-green-800: #2E7D32;
  --light-green-900: #1B5E20;
  --red-50: #FFEBEE;
  --red-900: #B71C1C;
}

body {
  font-family: var(--body-font), sans-serif;
  margin: 0 auto;
  max-width: 65ch;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

header {
  margin-block: 2rem 1rem;
  text-align: center;
}

footer {
  margin-block: 3rem 2rem;
  text-align: center;
}

main {
  max-width: 65ch;
  margin: 0 1rem;
  flex-grow: 1;
}

ul {
  padding-left: 1.25rem;
}

ul.blog-list {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

p > code {
  background-color: var(--light-gray-50);
  padding-inline: .5rem;
  padding-block: 0.1125rem;
  border-radius: 0.25rem;
}

nav > ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--green-500);
  font-weight: 500;
}

p {
  margin: 1rem 0;
}

pre {
  overflow-x: scroll;
}

blockquote[type="pull-quote"] {
  border-left: 6px solid var(--green-900);
}

blockquote {
  p {
    margin-block: 0.5rem;
  }

  p:only-child {
    margin-block: 0;
  }
}

blockquote[type] {
  padding-inline: 1rem;
  padding-block: 0.75rem;
  margin-block: 0.75rem;
}

blockquote[type="note"], blockquote[type="authors-note"] {
  background-color: var(--green-25);
  color: var(--green-900);
}

blockquote[type="warning"] {
  background-color: var(--red-50);
  color: var(--red-900);
}

blockquote[type="note"]::before {
  content: 'Note';
  border-bottom: 1px solid var(--light-green-900);
  width: 100%;
  display: inline-block;
  margin-bottom: 0.25rem;
}

blockquote[type="authors-note"]::before {
  content: "Author's Note";
  border-bottom: 1px solid var(--light-green-900);
  width: 100%;
  display: inline-block;
  margin-bottom: 0.25rem;
}

//composition
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

// utilities
.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.padding-left-0 {
  padding-left: 0;
}

.text-green {
  color: var(--green-500);
}

.text-dark-green {
  color: var(--green-900);
}

.text-black {
  color: black;
}

.text-muted {
  color: var(--light-blue-gray-100);
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.no-bullets {
  list-style-type: none;
}


//blocks
.back-navigation {
  text-align: center;
  margin-top: 1rem;
  white-space: nowrap;
  margin-inline: 2rem;
}

.contact-card {
  background-color: var(--green-50);
  color: var(--green-900);
  display: grid;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  input, textarea {
    width: 100%;
    border-radius: .5rem;
    border: 0;
    padding-inline: .5rem;
    padding-block: .25rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }

  textarea {
    resize: vertical;
    min-height: 5rem;
    border-radius: .5rem;
    border: 0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}

.button-primary {
  background-color: var(--green-900);
  color: white;
  border: 0;
  border-radius: 3rem;
  padding-block: .25rem;
  padding-inline: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.job {
  h2 {
    color: var(--green-600);
  }

  h3 {
    font-weight: semibold;
  }

}
