<div class="contact-card">
  <h2 class="text-center text-dark-green">Get In Touch</h2>
  <form name="Contact" method="POST" data-netlify="true" data-turbo="false">
    <p>
      <label>Name:<br> <input type="text" name="name" /></label>
    </p>
    <p>
      <label>Email:<br> <input type="email" name="email" /></label>
    </p>
    <p>
      <label>How can I help: <br>
<textarea name="message"></textarea></label>
    </p>
    <p class="text-center">
      <button type="submit">Send</button>
    </p>
  </form>
</div>
