<footer>
  <div class="footer-flow">
    <section class="site-links">
      <% site.data.links.site.each do |link| %>
        <a href="<%= link.href %>"><%= link.name %></a>
      <% end %>
    </section>
    <section class="social-links">
      <% site.data.links.social.each do |link| %>
        <a href="<%= link.href %>"><%= link.name %></a>
      <% end %>
    </section>
    <div class="attribution">
      <% if resource.data.layout == 'post' %>
        Written with <i class="fa-solid fa-heart text-primary"></i> from Denver, CO
      <% else %>
        Made with <i class="fa-solid fa-heart"></i> in Denver, CO
      <% end %>
      <div class="margin-top-0-5 text-small">&copy; 2024 All rights reserved</div>
    </div>
  </div>
</footer>
